.letter_blanked {
	margin-left: 10px;
	margin-right: 10px;		
	border: 1px blue black;
	borer-radius: 3px;
	color: black;
	background-color: white;
	font-size: 16pt;
}

.letter_hit {
	margin-left: 10px;
	margin-right: 10px;	
	border: 1px blue black;
	borer-radius: 3px;
	color: yellow;
	background-color: blue;
	font-size: 16pt;
}

#keyboard {
	height: 130px;
	border: 2px solid blue;
	border-radius: 8px;
	margin: 10px auto 0px auto;
	width: 500px
}

#keyboard .line {
	height: 25px;	
	margin: 5px 5% 5px 5%;
	text-align: center;
}

.letter_button {
    margin: 5px 10px 5px 10px;
    padding: 2px 2px 2px 2px;
    border: 2px solid black;
    color: yellow;
    background-color: blue;
    height: 23px;
    font-size: 10pt;	
}

.letter_button_clicked {
	margin: 5px 10px 5px 10px;
    padding: 2px 2px 2px 2px;
    border: 2px solid black;
    color: navyblue;
    background-color: blue;
    height: 23px;
    font-size: 10pt;	
}

#word_wait {
	font-size: 16pt;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}



