#word {
	margin: 10px 10% 0px 10%;
	text-align: center;
}

#pict_hangman {
	margin: 10px 10% 0px 10%;
	text-align: center;
}

#pict_img {

}

#word_label {
	font-size: 14pt;
}

#word_lettered {
	text-align: center;
	margin: 10px 10% 0px 10%;
}

#enter_word {
	font-size: 16pt;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.letter {
	margin-left: 10px;
	margin-right: 10px;
	color: black;
	background-color: white;
	font-size: 16pt;
}

.letter_hit {
	margin-left: 10px;
	margin-right: 10px;	
	border: 1px blue black;
	borer-radius: 3px;
	color: yellow;
	background-color: blue;
	font-size: 16pt;
}

#used_letters {
	margin: 50px auto 20px auto;
	text-align: center;
}

